$vodafone-red: #E60000;
$grey: #aaaaaa;
$dark-grey: #666666;
$bg-grey: #e3e3e3;
$light-grey: #999999;
$line-grey: #bbbbbb;
$green: #B6BE00;
$orange: #FFA941;

$status_green: #00BA63;
$status_yellow: #FFCA00;
$status_blue: #00BEF3;
