.wholePage {
    min-height: 100%;
    width: 100%;
    min-width: 380px;
    background-color: $bg-grey;

    .mainContent {
        margin: 0;
        background-color: #fff;

        .mainCardContent {
            min-height: 500px;

            .home-link {
                display: none;
            }

            .logoImage {
                display: none;
            }

            .search-header {
                text-align: right;
                vertical-align: middle;

                .small-search-box {
                    border: 1px solid $grey;
                    padding: 7px 0;
                    width: 150px;

                    input {
                        border: none;
                        border-right: 1px solid $grey;
                        background-color: transparent;
                        padding: 7px 0;
                        padding-left: 7px;
                        width: 150px;
                    }

                    i {
                        vertical-align: -7px;
                        color: $dark-grey;
                        padding: 4px 0;
                        cursor: pointer;
                    }
                }

                .help-button {
                    padding: 8px;
                    text-decoration: none;
                    color: $vodafone-red;
                }
            }

            .partial-container {
                z-index: 10;
            }
        }

        .versionLabel {
            color: $light-grey;
            font-size: 12px;
            text-align: right;
            margin-right: 1em;

            a {
                color: $vodafone-red;
                text-decoration: none;
            }
        }
    }
}
